// all the Sass code handling the layout, which is the container and grid systems

@import '../sass-utils/variables';

.menu {
  z-index: 100;
  margin: 0.25em 4em 1em 0;

  &-icon {
    z-index: 20;
    float: right;

    width: $menu-line-width;
    height: $menu-icon-height;
    cursor: url(../../assets/svgs/circle.svg) 5 5, auto;
    z-index: 50;

    &:hover,
    &:focus {
      cursor: url(../../assets/svgs/circleplus.svg) 5 5, auto;
    }

    &.active {
      cursor: url(../../assets/svgs/circlepluswhite.svg) 5 5, auto;

      .line {
        &-one,
        &-two {
          background: #fff;
        }

        &-one {
          animation: animate-one 0.7s $cubic-bezier-in forwards;
        }
        &-two {
          animation: animate-two 0.7s $cubic-bezier-in forwards;
        }
      }
    }

    .line {
      &-one,
      &-two {
        height: $menu-line-height;
        background: #000;
        border-radius: 2px;
        transition: background-color 0.2s ease-in-out;
      }

      &-one {
        animation: animate-one-rev 0.7s ease-in-out;
      }

      &-two {
        margin: $menu-line-space 0 0;
        animation: animate-two-rev 0.7s ease-in-out;
      }
    }
  }
}

.menu-overlay {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  background: #000;

  margin: 0 auto;
  list-style: none;
  width: 100%;
  height: 0;
  transition: all 0.5s ease-in-out;

  &.overlay-active {
    opacity: 1;
    width: 100%;
    height: 20em;
    visibility: visible;
    transition-delay: 0.25s;
    cursor: url(../../assets/svgs/circlewhite.svg) 5 5, auto !important;

    a {
      cursor: url(../../assets/svgs/circlepluswhite.svg) 5 5, auto;
    }

    .menu-crumbs {
      transition: opacity 0.5s ease-in-out;
      transition-delay: 1s;
      margin: 0 auto;
    }
  }

  ul {
    height: 100%;
    padding: 0;
    list-style: none;
    line-height: 1.5;

    a {
      color: #fff;

      padding: 0 0.5em 0 0.25em;

      border-radius: 2px;
      background-size: 200% 100%;
      background-image: linear-gradient(to right, #000 50%, white 50%),
        linear-gradient(to right, white 50%, #473838 50%);
      transition: background-position 0.5s linear;

      &:hover,
      &:focus {
        background-position: -100% 0;
        color: #000;
      }
    }
  }

  .navigation {
    .menu {
      &-crumbs {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 0 50%;

        list-style: none;
        width: 100%;
        height: 20em;

        // cursor: url(./../../assets/svgs/circlewhite.svg) !important;
      }

      &-crumb {
        font-family: 'psfournier-std', sans-serif;
        font-size: 2em;
        letter-spacing: 1px;
        color: #fff;
      }
    }
  }
}

.no-animation {
  -webkit-animation: none !important;
  animation: none !important;
}

@keyframes animate-one {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, $menu-line-offsetY, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, $menu-line-offsetY, 0) rotate(45deg);
  }
}

@keyframes animate-two {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, -$menu-line-offsetY + 1px, 0) rotate(0);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-one-rev {
  0% {
    transform: translate3d(0, $menu-line-offsetY, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, $menu-line-offsetY, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-two-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, -$menu-line-offsetY + 1px, 0) rotate(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
