.bio {
  font-family: $body-font-family;
  font-size: 3em;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: -1px;

  animation: show 1s ease-out;
  animation-fill-mode: both;

  width: 60vw;
  margin: 0 2em;
}

@keyframes show {
  from {
    transform: translate3d(0, 175px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
